.menu-container {
    background-color: #f9f7d9;
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.menu-header h1 {
    font-size: 24px;
    font-weight: normal;
    color: #333;
}

.menu-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.sair {
    background-color: #fff;
    color: #009933;
}

.sair:hover {
    background-color: #ececec;
}

.cadastro{
    background-color: #4CAF50;
    color: white;
}

.cadastro:hover {
    background-color: #45a049;
}

.sensor-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}
