html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Remove barras de rolagem desnecessárias */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #242424; /* Para fallback */
}
